<div>
    <div>
        <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
    </div>

    <md-button class="md-button button-login"  type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
        Login with Facebook
    </md-button>
    <md-button type="button" class="md-button btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">
        Logout
    </md-button>
</div>
