<md-toolbar layout="row">
    <h3 class="md-title" flex="33" flex-offset="5">Krzychapp</h3>
    <md-list-item layout-align="end center" flex="66">
        <md-button>Home</md-button>
        <md-button>Add product</md-button>
        <md-button>Account</md-button>
    </md-list-item>
</md-toolbar>

<div flex="100" layout="row" layout-align="center stretch" class="map">
    <md-content layout="column" flex="100" id="content">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </md-content>

    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
      <div flex="80" flex-offset="10" layout="row" layout-align="center center">
        <form ng-submit="$event.preventDefault()" flex layout="column" layout-align="center stretch">

            <md-autocomplete
                    md-input-name="tagName"
                    md-input-minlength="2"
                    md-input-maxlength="18"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text="ctrl.searchText"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-floating-label="Tag">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-item-template>
                <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                </div>
            </md-autocomplete>

            <md-input-container class="md-block">
                <label>Country</label>
                <md-select ng-model="country">
                    <md-option ng-repeat="country in countries" value="{{country}}">{{country}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Max price</label>
                <input type="number" step="any" name="price" min="1" max="9999" />
            </md-input-container>

            <md-button flex>
                Filter
            </md-button>
        </form>
      </div>
    </md-sidenav>
</div>
